.container {
  border: 2px solid white;
  padding: 20px;
  border-radius: 20px;
}
.txtArea {
  background: none;
  border: none;
  outline: none;
  resize: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
