.txtContainer {
  position: relative;
  border: 2px solid white; /*red*/
  padding: 20px;
  padding-bottom: 25px;
  border-radius: 20px;
}
.txtArea {
  background: none;
  border: none;
  outline: none;
  resize: none;
  scrollbar-width: none;
}
.limits {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: small;
}

.limitReachedBorder {
  border-color: red;
}
.limitReachedColor {
  color: red;
}
